

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
}

/* SIDEBAR */
.admin-sidebar {
  width: 230px;
  height: 100vh;
  background: #006DB6;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
}

.admin-sidebar h2 {
  margin-bottom: 30px;
  font-size: 25px;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
}

.sidebar-menu li {
  position: relative;
}

.sidebar-menu a {
  display: block;
  padding: 12px;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.sidebar-menu a:hover {
  background: #FFA630;
}

/* SUBMENU */
.has-submenu .submenu {
  display: none;
  list-style: none;
  padding-left: 15px;
  margin-top: 5px;
}

.has-submenu:hover .submenu {
  display: block;
}

.submenu a {
  font-size: 14px;
  background: rgba(255,255,255,0.1);
  margin-bottom: 5px;
}

/* HEADER */
.admin-header {
  position: fixed;
  top: 0;
  left: 230px;           
  right: 0;
  height: 60px;
  background: #FFA630;
  border-bottom: 1px solid #eee;
  z-index: 1000;
}

.admin-header-inner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.admin-header h2 {
  font-size: 18px;
  color: #006DB6;
}

.admin-user a{
  text-decoration: none;
  color: white;
}

.admin-user a:hover {
  color: #006DB6;
}

/* MAIN CONTENT */
.admin-content {
  margin-left: 230px;     
  padding: 90px 30px 30px; 
}

.admin-content h1, .admin-content h2 {
  margin-bottom: 15px;
  color: #006DB6;
}

.manage-photos-title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.btn-add-new {
  background: #006DB6;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 4px;
}

.btn-add-new:hover {
  background: #FFA630;
}


/* STATS */
.dashboard-stats {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.stat-box {
  text-align: center;
  background: white;
  padding: 20px;
  border-radius: 6px;
  width: 200px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
  transition: transform 0.3s ease;
}

.stat-box:hover {
  transform: translateY(-5px);
}

.stat-box h3 {
  margin-bottom: 10px;
  font-size: 28px;
  color: #006DB6;
}

.active{
  color: green;
}
.inactive{
  color: red;
}

.stat-title {
  margin-bottom: 10px;
}

.recent-box h2{
  text-align: left;
}

.recent-box {
  background: white;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th, table td {
  font-size: 14px;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

