
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: Arial, sans-serif; */
  background: #f4f6f8;
}

* {
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, .headline {
  font-family: 'Poppins', sans-serif;
}

/* SIDEBAR */
.admin-sidebar {
  width: 230px;
  height: 100vh;
  background: #006DB6;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
}

.admin-sidebar h2 {
  margin-bottom: 30px;
  font-size: 25px;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
}

.sidebar-menu li {
  position: relative;
}

.sidebar-menu a {
  display: block;
  padding: 12px;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.sidebar-menu a:hover {
  background: #FFA630;
}

/* SUBMENU */
.has-submenu .submenu {
  display: none;
  list-style: none;
  padding-left: 15px;
  margin-top: 5px;
}

.has-submenu:hover .submenu {
  display: block;
}

.submenu a {
  font-size: 14px;
  background: rgba(255,255,255,0.1);
  margin-bottom: 5px;
}

/* HEADER */
.admin-header {
  position: fixed;
  top: 0;
  left: 230px;           
  right: 0;
  height: 60px;
  background: #FFA630;
  border-bottom: 1px solid #eee;
  z-index: 1000;
}

.admin-header-inner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.admin-header h2 {
  font-size: 18px;
  color: #006DB6;
}

.admin-user {
  display: flex;
  gap: 20px;
}

.admin-user a{
  text-decoration: none;
  color: white;
}

.admin-user a:hover {
  color: #006DB6;
}

/* MAIN CONTENT */
.admin-content {
  margin-left: 230px;     
  padding: 90px 30px 30px; 
}

.admin-content h1, .admin-content h2 {
  margin-bottom: 15px;
  /* color: #006DB6; */
}

.manage-photos-title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.btn-add-new {
  background: #006DB6;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 4px;
}

.btn-add-new:hover {
  background: #FFA630;
}


/* STATS */
.dashboard-stats {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.stat-box {
  text-align: center;
  background: white;
  padding: 20px;
  border-radius: 6px;
  width: 200px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
  transition: transform 0.3s ease;
}

.stat-box:hover {
  transform: translateY(-5px);
}

.stat-box h3 {
  margin-bottom: 10px;
  font-size: 28px;
  color: #006DB6;
}

.active{
  color: green;
}
.inactive{
  color: red;
}

.stat-title {
  margin-bottom: 10px;
}

.recent-box h2{
  text-align: left;
}

.recent-box {
  background: white;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th, table td {
  font-size: 14px;
  padding: 10px;
  border-bottom: 1px solid #eee;
}


/* FOOTER */
.admin-footer {
  margin-left: 230px;
  text-align: center;
  padding: 20px;
  font-size: 13px;
  color: #777;
} 



/* ADMIN FORM */
.admin-form {
  background: #fff;
  padding: 25px;
  max-width: 800px;
  border-radius: 6px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}

.admin-form input
{
  width: 100%;
  padding: 12px;
  margin-bottom: 2px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

.admin-form textarea
{
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

.admin-form textarea {
  min-height: 100px;
  font-family: Arial, sans-serif;
}

.admin-form select {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

.admin-form .file_input{
  margin-bottom: 15px;
}

.admin-form button {
  background: #006DB6;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 4px;
}

.admin-form button:hover {
  background: #FFA630;
}

.admin-form .additinerarybtn {
  margin-bottom: 18px;
}

.admin-form .remove-itinerary {
  margin-bottom: 18px;
}

.current-image img {
  width: 180px;
  height: auto;
  border-radius: 6px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
}

.admin-form label {
  margin-bottom: 8px;
  display: block;
  font-weight: bold;
  color: #006DB6;
}

.admin-form a{
  text-decoration: none;
  color: #006DB6;
}

.admin-form a:hover{
  color: #FFA630;
}

.admin-form p {
  margin-bottom: 15px;
}

.rating option{
  color: gold;
}



.admin-table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
}

.admin-table th, .admin-table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
}

.pdf-view a{
  text-decoration: none;
  color: #006DB6;
}

.pdf-view a:hover{
  color: #FFA630;
}

.btn-edit {
  background: #006DB6;
  color: #fff;
  padding: 6px 10px;
  text-decoration: none;
  border-radius: 4px;
}

.btn-edit:hover {
  background: #FFA630;
}

.btn-delete {
  background: red;
  color: #fff;
  padding: 6px 10px;
  text-decoration: none;
  border-radius: 4px;
}

.btn-delete:hover {
  background: #cc0000;
}

.action-col {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* .action-col-flight {
  display: flex;
  flex-direction: column;
  gap: 8px;
} */

.btn-edit,
.btn-delete {
  width: 60px;
  text-align: center;
}


.msg-cell {
  max-width: 300px;
  text-align: left;
  font-size: 14px;
}

.admin-table td {
  vertical-align: middle;
}

.ratingstar{
  color: gold;
}



.login-body {
  /* background: #006DB6; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background: #fff;
  width: 300px;
  border-radius: 6px;
  padding: 25px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}

.login-box h2 {
  text-align: center;
  margin-bottom: 8px;
}

.login-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

.login-box button {
  width: 100%;
  padding: 10px;
  background: #006DB6;
  border: none;
  color: #fff;
  /* font-weight: bold; */
  cursor: pointer;
  border-radius: 4px;
}

.login-box button:hover {
  background: #FFA630;
}

.error {
  color: red;
  text-align: center;
  margin-bottom: 6px;
}

.form-group.error input,
.form-group.error textarea,
.form-group.error select {
  border-color: red;
}

.form-group small.error {
  color: red;
  font-size: 13px;
  margin-top: 4px;
  display: block;
  margin-bottom: 10px;
  text-align: left;
}

